PORT=8787
HOST=0.0.0.0
ADMIN_USERNAME=admin
ADMIN_PASSWORD=123456
ADMIN_JWT_SECRET=change-me-in-production
CORS_ORIGIN=*
# 以下仅 docker 模式使用
# IMAGE=crpi-h49so3m1b8wov228.cn-hangzhou.personal.cr.aliyuncs.com/yxl_image_registry/starconverge:v1.0.0
# PULL_POLICY=missing
